//BASE STYLES
@mixin container($width) {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: $width;
}

.text-center {
  text-align: center;
}

.text-yellow {
  color: $yellow;
}

.text-brown {
  color: $brown;
}

.red-dotted-divider {
  height: 3px;
  background: url(../img/repeat-dotted-red.png) repeat-x;
  width: 100%;
  position: absolute;
  margin: 10px 0 0 0;
  z-index: 0;
  left: 0;
}

.placeholder-content {
  height:400px;
  background:rgba(0, 0, 0, .4);
  margin-top:50px;
  @include flexbox();
  align-items: center;
  justify-content: center;
  color: $yellow;
  font-family: $gothamBook, "Helvetica", sans-serif;
}

