//BASE STYLES
@mixin container($width) {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: $width;
}

@mixin dotted-divider($image) {
  height: 3px;
  background: url($image) repeat-x;
  width: 100%;
  position: absolute;
  margin: 10px 0 0 0;
  z-index: 0;
  left: 0;
  border:none;
  outline: none;
  &.within {
    position: relative;
  }
}

.text-center {
  text-align: center;
}

.text-yellow {
  color: $yellow;
}

.text-brown {
  color: $brown;
}

.red-dotted-divider {
  @include dotted-divider('../img/repeat-dotted-red.png');
}

.yellow-dotted-divider {
  @include dotted-divider('../img/repeat-dotted-yellow.png');
}

.brown-dotted-divider {
  @include dotted-divider('../img/repeat-dotted-brown.png');
}

.placeholder-content {
  height:400px;
  background:rgba(0, 0, 0, .4);
  margin-top:50px;
  @include flexbox();
  align-items: center;
  justify-content: center;
  color: $yellow;
  font-family: $gothamBook, "Helvetica", sans-serif;
}

.hidden {
  display: none;
}

