//Blog
.blog-pages {
  @include container(1024px);
  section.page {
    padding-top: 0;
  }
  .main-column {
    padding-top: 0;
    margin-top: 0 0 0 0;
    color: $beige;
  }
}

.entry-content {
  p {
    a {
      color: $yellow;
    }
  }
  img {
    max-width:100% !important;
  }
}

.widget {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background:transparent;
    border:3px solid darken($yellow, 30%);
    margin:0 0 10px 0;
    @include transition(.3s);
    position: relative;
    &:hover {
      border:3px solid $yellow;
      background: $yellow;
      a {
        color: $brown;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      width: 100%;
      display: block;
      padding: 5px 10px;
      position: relative;
      &:after {
        content:url(../img/btn-triangle-yellow.png);
        float: right;
        margin-right:20px;
      }
    }
  }
}

.entry-meta {
  a {
    color:$yellow;
    text-decoration: none;
  }
}

.page-title {
  font-family: $helvetica;
}

.entry-title {
  color: $yellow;
  font-family: $gothamBook, "Helvetica", sans-serif;
  font-weight: 300;
  a {
    color: $yellow;
    text-decoration: none;
  }
}

h2.entry-title {
  font-size: 3em;
  margin: 0 0;
  padding: 0 0;
}

article.type-post {
  background:url(../img/repeat-dotted-yellow.png) bottom center repeat-x;
  padding-bottom: 25px;
  margin-bottom:25px;
}

span.posted-on {
  font-size: 14px;
}

aside#secondary {
  background:url(../img/repeat-dotted-yellow-vertical.png) top left repeat-y;
  box-sizing: border-box;
  padding: 0px 20px;
}