.btn {
  &.wired, &.btn-yellow {
    @include wiredButton();
  }
  &.yellow-text {
    color: $yellow !important;
  }
  &.btn-red {
    @include wiredButton();
    border:2px solid $red;
    color:$red;
    &:after {
      content:url(../img/btn-triangle-red.png);
    }
    &:hover {
      background:rgba(185, 19, 34, .4);
      color:#fff;
    }
  }
  &.btn-lg {
    font-size:1em;
  }
  &.btn-sm {
    font-size: .70em;
    white-space: nowrap;
  }
}

@media (max-width:640px) {
  .btn {
    &.wired, &.btn-yellow, &.btn-red {
      &.long {
        font-size: .5em;
      }
    }
  }
}

.app-downloads {
  a img {
    @include transition(.3s);
    &:hover {
      background:rgba(255, 255, 255, .5);
    }
  }

}