.btn {
  &.wired {
    @include wiredButton();
  }
  &.btn-red {
    background: darken($red, 10%);
    color: $beige;
    text-decoration: none;
    padding: 10px 15px;
    @include border-radius(5px);
    font-size: 12px;
    text-transform: uppercase;
    font-family: $gothamBook, 'Helvetica', sans-serif;
    white-space: nowrap;
    @include transition(.2s);
    &:hover {
      background: darken($red, 20%);
    }
  }
  &.btn-lg {
    font-size:1em;
  }
  &.btn-sm {
    font-size: .70em;
    white-space: nowrap;
  }
}

.app-downloads {
  a img {
    @include transition(.3s);
    &:hover {
      background:rgba(255, 255, 255, .5);
    }
  }

}