.btn {
  &.wired {
    border:2px solid $yellow;
    margin: 0px 0px;
    padding: 9px 15px 7px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $helvetica, "Helvetica", sans-serif;
    &:after {
      content:url(../img/btn-triangle-yellow.png);
      padding-left: 7px;
    }
  }
  &.btn-red {
    background: darken($red, 10%);
    color: $beige;
    text-decoration: none;
    padding: 10px 15px;
    @include border-radius(5px);
    font-size: 12px;
    text-transform: uppercase;
    font-family: $gothamBook, 'Helvetica', sans-serif;
    white-space: nowrap;
    @include transition(.2s);
    &:hover {
      background: darken($red, 20%);
    }
  }
  &.btn-lg {
    font-size:1em;
  }
}