input {
  -webkit-appearance: none;
  border-radius: 0;
}

form {
  .block.dark & {
    label {
      color: $beige;
    }
    select, input[type="text"], input[type="email"] {
      color: $brown;
    }
  }
  section.page & {
    label {
      display: block;
      font-family: $gothamBook, "Helvetica", sans-serif;
      color: $brown;
    }
    input[type="text"], input[type="email"], textarea {
      background: darken($beige, 10%);
      border: none;
      outline: none;
      width: 100%;
      padding: 15px;
      display:block;
      box-sizing: border-box;
    }
    select {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      background: darken($beige, 10%) url(../img/form-select-dropdown.png) center right no-repeat;
      border:none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input[type="submit"] {
      @include wiredButton();
      background:transparent;
    }
    .form-group {
      margin: 10px 0;
      box-sizing: border-box;
      width: 100%;
      position: relative;
    }
  }
}