//Store Locator
.locator-bar {
  width:100%;
  height:150px;
  background:url(../img/locator-bar.png) top center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom:5px solid $yellow;
  .search {
    width:90%;
    text-align: center;
  }
  input[type="text"] {
    height: 42px;
    background: $yellow;
    border:none;
    outline:none;
    box-sizing: border-box;
    width:80%;
    float: left;
    padding: 5px 15px;
    color: $brown;
  }
  input::-webkit-input-placeholder {
    color: darken($yellow, 30%);
    text-transform: uppercase;
  }
  input::-moz-placeholder {
    color: darken($yellow, 30%);
    text-transform: uppercase;
  }
  input:-moz-placeholder {   /* Older versions of Firefox */
    color: darken($yellow, 30%);
    text-transform: uppercase;
  }
  input:-ms-input-placeholder {
    color: darken($yellow, 30%);
    text-transform: uppercase;
  }
  button {
    @include wiredButton();
    background:transparent;
    float: left;
    width: 20%;
  }
}
.output-list, .store-filter-results {
  width:100%;
  float: none;
  display: block;
  min-height:500px;
  background: $darkTransparent;
  padding:10px;
  box-sizing: border-box;
  &.online-order {
    li.cafe-list-item {
      position: relative;
      width: 100%!important;
      min-height: inherit !important;
      &:first-child {
        background-color: $brown;
        color: $yellow;
        padding: 0 0 10px 0;
        .cafe-info span.name {
          &:before {
            content:"Your Closest Cafe";
            position: absolute;
            top:0px;
            left: 0;
            display: block;
            white-space: nowrap;
            font-size: 14px;
            background: $yellow;
            color: $brown;
            padding: 5px 10px;
            z-index: 9999;
            font-family: $helvetica;
          }
        }
      }
      .cafe-info {
        max-width: 600px !important;
        width: 100% !important;
      }
      .services {
        display:none;
      }
      padding-bottom:5px;
    }
  }
  .image-container {
    width: 33%;
    position: relative;
    display: block;
    max-width:200px;
    height:150px;
  }
  .cafe-info {
    float:left!important;
    box-sizing: border-box;
    padding: 20px;
    a {
      color: $red;
      font-size: 14px;
      text-decoration: none;
      &.hide {
        display:none;
      }
    }
  }
  a.facebook {
    float: right;
    width: 25px;
  }
  .online-order {
    &.hide {
      display: none;
    }
    background:darken($red, 10%);
    color: #fff !important;
    text-decoration: none;
    font-size: 12px;
    font-family: $helvetica;
    padding: 5px;
    margin: 0 0 0 0;
  }
  .services {
    height: 50px;
    width: 100%;
    float:none;
    box-sizing: border-box;
    padding: 0px 10px;
    a {
      &.hide {
        display:none;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
  li {
    height:inherit;
    width: 50%;
    float: left;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background:url(../img/repeat-dotted-yellow.png) bottom center repeat-x;
    margin-bottom:10px;
    &.no-result {
      width: 100%;
      background: darken($red, 20%);
      border:1px solid $red;
      font-family: $gothamBook;
      font-size: 1.25em;
      color: $red;
      text-align: center !important;
      padding: 20px;
      height: inherit  !important;
      box-sizing: border-box;
    }
  }
  .services {
    width:100%;
    padding-top: 10px;
    text-align: left;
    img {
      margin-right:5px;
      @include transition(.5s);
      &.active-0 {
        display:none;
      }
      &.filter-out {
        opacity: 0;
      }
      &.remove {
        display:none;
      }
    }
  }
}

ul.map-list, ul.map-store-filter-results {
  .list-container {
    width: 100%;
    .image-container {
      background-position:top left !important;
      background-size:cover !important;
      width:200px;
      height:150px;
      float:left;
    }
    .cafe-info {
      width: 240px;
    }
  }
}

@media (max-width:1024px) {
  ul.map-list {
    .list-container {
      .image-container {
        //width:150px;
        //height:100px;
      }
    }
  }
}

@media (max-width:990px) {
  .locator-bar {
    input[type="text"] {
      width:60%
    }
    button {
      width: 40%;
    }
  }
}

@media (max-width:920px) {
  .map-container {
    display: none;
  }
  .output-list {
    width: 100%;
  }
  ul.map-list {
    width:100%;
    margin:0 auto;
    display: block;
    li {
      height:inherit !important;
      width: 100%;
    }
    .list-container {
      .image-container {
        width:180px;
        height:130px;
      }
    }
  }
}

@media (max-width:640px) {
  .locator-bar {
    input[type="text"] {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  .map-filter-bar {
    .filter-choices {
      display: block !important;
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;
      box-sizing: content-box !important;
    }
    a {
      width:33% !important;
      display: block !important;
      float: left;
      box-sizing: border-box;
      margin: 0 !important;
      padding-top:35px !important;
      &:before {
        content:attr(data-tooltip-title);
        color:#fff;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        display:block;
        text-align: center;
        font-size: 12px;
        background:lighten($brown, 5%);
        padding: 5px 0;
      }
    }
  }
}

.map-container {
  width: 100%;
  float: none;
  box-sizing: border-box;
}
.map-embed {
  &.active {
    width:100%;
    height:500px;
    box-sizing: border-box;
  }
}

.map-filter-bar {
  background:$brown;
  h4 {
    font-size: 1em;
    color: #fff;
    font-family: $gothamBook;
    padding: 10px 10px;
    margin: 0;
    text-align: center;
  }
  .filter-choices {
    width:100%;
    box-sizing: border-box;
    padding: 0 0px;
    @include flexbox();
    text-align: center;
    img {
      max-width:30px !important;
      width: 100%;
    }
    a {
      @include flexItem(1, 11%);
      padding: 20px 10px 20px;
      border-top:1px solid lighten($brown, 10%);
      border-left:1px solid lighten($brown, 10%);
      border-right:1px solid lighten($brown, 10%);
      @include transition(.3s);
      position: relative;
      &:hover {
        background:rgba(0, 0, 0, .2);
      }
      &.chosen {
        background:rgba(0, 0, 0, .5);
      }
      &:hover, &.chosen {
        padding-top:35px !important;
        &:before {
          content:attr(data-tooltip-title);
          color:#fff;
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          display:block;
          text-align: center;
          font-size: 12px;
          background:lighten($brown, 5%);
          padding: 5px 0;
        }
      }
      &:first-child {
        border-left:none;
      }
      &:last-child {
        border-right:none;
      }

    }
  }
}