.menulist {
  margin-top:15px;
  .menulist-item {
    @include masonry();
  }
}

@media (max-width:842px) {
  .menulist {
    .menulist-item {
      @include masonry_mobile();
    }
  }
}

.menu-page {
  max-width:700px;
  width: 100%;
  display:block;
  margin: 0 auto;
  h1 {
    text-align: center;
    color: $yellow;
    font-family: $gothamBook, "Helvetica", sans-serif;
    font-weight: 100;
    font-size: 2.55em;
    margin: 0;
    padding: 30px 0;
  }
  p {
    a {
      color: $yellow;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &.lead {
      font-size: 1.5em;
      color: #fff;
      font-family: $gothamBook, "Helvetica", sans-serif;
      font-weight: 100;
      margin: 0 0 45px 0;
    }
  }
}

.menu-section {
  width:50%;
  float: left;
  box-sizing: border-box;
  padding: 0 20px 0 0;
  margin: 0 0 40px 0;
  @include transition(.3s);
  position: relative;
  h2 {
    color: $yellow;
    font-size: 1.05em;
    font-weight: 100;
    font-family: $gothamBook, "Helvetica", sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  a {
    color: $yellow;
    text-decoration: none;
    cursor: pointer;
    @include transition(.3s);
    &:hover {
      color: $red;
    }
  }
  p {
    color: #fff;
    font-family: $gothamBook, "Helvetica", sans-serif;
    font-size: 1em;
    line-height: 1.25;
    padding: 0;
    margin: 0;
  }
  #tooltip {
    position: absolute;
    width:500px;
    height:335px;
    display: none;
    opacity:0;
    top:-370px;
    border:7px solid $yellow;
    @include transition(.5s);
    &.odd {
      left:0;
      &:after {
        left:0px;
      }
    }
    &.even {
      right:0;
      &:after {
        left:170px;
      }
    }
    &.active {
      display: block;
      opacity:1;
    }
    &:after {
      content:" ";
      background:url(../img/menu-single-tooltip.png) no-repeat center center;
      width:53px;
      height: 25px;
      bottom:-25px;
      position: absolute;
      z-index: 1000;
    }
    img {
      width:500px;
      height:335px;
      position: absolute;
      z-index: 1000;
      border:3px solid $brown;
      box-sizing: border-box;
    }
    h3 {
      color: #fff;
      font-size: 1.25em;
      font-weight: 100;
      font-family: $gothamBook, "Helvetica", sans-serif;
      text-transform: uppercase;
      width: 100%;
      display: block;
      white-space: nowrap;
      text-align:right;
      float: right;
      margin: 0;
      padding: 10px 20px;
      box-sizing: border-box;
      position: absolute;
      z-index: 1500;
      text-shadow: 0px 5px 8px rgba(0, 0, 0, .9);
      &.on-white {
        color: $brown;
        text-shadow: 0px 5px 8px rgba(255, 255, 255, .9);
      }
    }
  }
}

@media (max-width:1141px) {
  .menu-section {
    #tooltip {
      display: block;
      opacity: 1;
      position: relative;
      width:100%;
      height:inherit;
      top:0;
      border:none;
      border-bottom:3px solid $yellow;
      margin-bottom:10px;
      img {
        border:none;
        width: 100%;
        height: inherit;
        position: relative;
        margin-bottom:15px;
      }
      h3 {
        display:none;
      }
      &:after {
        background:none;
      }
    }
  }
}

@media (max-width:640px) {
  .menu-section {
    width: 100%;
  }
}