//CSS PREFIXES
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin border_image($image) {
  -webkit-border-image: url($image) 30 round; /* Safari 3.1-5 */
  -o-border-image: url($image) 30 round; /* Opera 11-12.1 */
  border-image: url($image) 30 round;
}

@mixin flexbox() {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flexItem($number, $fallback) {
  -webkit-box-flex: $number;   /* OLD - iOS 6-, Safari 3.1-6 */
  width: $fallback;            /* For old syntax, otherwise collapses. */
  -webkit-flex: $number;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: $number;           /* IE 10 */
  flex: $number;
}

@mixin blur($amount) {
  -webkit-filter: blur($amount);
  -moz-filter: blur($amount);
  -o-filter: blur($amount);
  -ms-filter: blur($amount);
  filter: blur($amount);
}

@mixin brightness($amount) {
  -webkit-filter: brightness($amount);
  -moz-filter: brightness($amount);
  -o-filter: brightness($amount);
  -ms-filter: brightness($amount);
  filter: brightness($amount);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin backgroundPosX($arg) {
  -ms-background-position-x:$arg !important;
  background-position-x:$arg !important;
}

//MIXINS STYLES

@mixin masonry() {
  height:320px;
  background: transparent;
  float: left;
  margin: 0 .45% 1.3% .45%;
  color: #fff;
  font-family: $gothamBook, "Helvetica", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, .9);
  box-sizing: border-box;
  @include transition(.5s);
  background-position: center center !important;
  background-size:auto 100% !important;
  overflow: hidden;
  a {
    color: inherit;
  }
  img {
    height: 100%;
    @include transition(.5s);
  }
  &:hover {
    img {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
    }
  }
  &.on-white {
    color: #332116;
    text-shadow: 0px 5px 8px rgba(255, 255, 255, .9);
  }
  &.one-third {
    width:39%;
  }
  &.two-third {
    width:57%;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
}

@mixin masonry_mobile() {
  &.one-third, &.two-third {
    width: 100%;
    @include transition(.3s);
  }
}

@mixin dotted_divider($image) {
  width:100%;
  height:3px;
  content:" ";
  display: block;
  background:url($image) repeat-x center;
}

//Buttons
@mixin wiredButton() {
  border:2px solid $yellow;
  margin: 0px 0px;
  padding: 9px 15px 7px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $helvetica, "Helvetica", sans-serif;
  @include transition(.3s);
  &:after {
    content:url(../img/btn-triangle-yellow.png);
    padding-left: 7px;
    @include transition(.3s);
  }
  &:hover {
    background: rgba(255, 212, 31, .6);
    border:2px solid transparent;
    color: $brown;
    &:after {
      padding-left: 10px;
      margin-right:3px;
    }
  }
}


