//SLIDE SHOW
.bx-wrapper {
  position: absolute;
  top:-120px;
  width:100% !important;
}
.bx-viewport {
  left:0px !important;
}
ul.slider {
  padding: 0;
  margin: 0 auto;
  width: 100% !important;
  li {
    width: 100% !important;
    padding: 0;
    margin: 0;
    height: 600px;
    position: relative;
    display: flex;
    background-position: top center !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    > a {
      position: absolute;
      width: 100%;
      height:100%;
      display: block;
      text-indent: -9999px;
      z-index: 1000;
    }
    img {
      position: absolute;
      width: 100%;
    }
    &.right-align {
      .content {
        right:5%;
        text-align: right;
      }
    }
    &.on-white {
      h1.heading {
        color:#2E1A11 !important;
        text-shadow: 0px 3px 50px #fff !important;
      }
      p.tag {
        text-shadow: 0px 0px 5px #fff !important;

      }
    }
  }
  .content {
    position: absolute;
    @include transition(.3s);
  }
  .subhead {
    color: $red;
    display: inline-block;
    margin: 0;
    padding: 0;
    &:before {
      box-sizing: border-box;
      padding:5px 0 5px 0;
      @include dotted_divider('../img/repeat-dotted-red.png');
    }
    &:after {
      box-sizing: border-box;
      padding:5px 0 5px 0;
      margin: 0 0 15px 0;
      @include dotted_divider('../img/repeat-dotted-red.png');
    }
  }
  .content {
    padding: 190px 50px 50px 115px;
  }
  .heading {
    color: #fff;
    font-family: $helvetica, "Helvetica", sans-serif;
    font-size: 5.62em;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .tag {
    font-family: $gothamBook, "Helvetica",sans-serif;
    color: $brown;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
  }
}

@media (max-width:842px) {
  .bx-wrapper {
    top:0px;
  }
  ul.slider {
    .content {
      padding-left:20px;
    }
  }
}

@media (max-width:420px) {
  ul.slider {
    .heading {
      font-size: 4em;
    }
  }
}