/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "html5base";
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "fonts";
@import "variables";
@import "mixins";
@import "base";
@import "global";
@import "type";
@import "navigation";
@import "notices";
@import "banner";
@import "form";
@import "page";
@import "menu";
@import "slides";
@import "buttons";
@import "blog";
@import "instafeed";
@import "locator";
.fallback-form {
  h1 {
    color: $yellow;
    font-family: $gothamBook;
  }
  label {
    color: $yellow;
    font-family: $gothamBook;
  }
}
.allergy-info {
  display:block;
  background:transparent;
  border:3px solid $yellow;
  padding: 10px;
  display: block;
  margin:0 auto;
  color: #fff;
  background:$brown;
  h1, p, em {
    margin: 0;
    padding: 0;
  }
  p {
    padding:0 40px;
  }
  h1 {
    font-size: 20px;
  }
  em {
    font-size: 12px;
    color: rgb(190, 171, 158);
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
@import "helper";
