/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "html5base";
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "fonts";
@import "variables";
@import "mixins";
@import "base";
@import "global";
@import "type";
@import "navigation";
@import "notices";
@import "banner";
@import "form";
@import "page";
@import "menu";
@import "slides";
@import "buttons";
@import "blog";
@import "instafeed";
@import "locator";
.form-filter {
  .form-group {
    width: 33%;
    float:left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.fallback-form {
  h1 {
    color: $yellow;
    font-family: $gothamBook;
  }
  label {
    color: $yellow;
    font-family: $gothamBook;
    padding:0 0 10px 0px;
  }
}
.allergy-info {
  display:block;
  background:transparent;
  border:3px solid $yellow;
  padding: 10px;
  display: block;
  margin:0 auto;
  color: #fff;
  background:$brown;
  h1, p, em {
    margin: 0;
    padding: 0;
  }
  p {
    padding:0 40px;
  }
  h1 {
    font-size: 20px;
  }
  em {
    font-size: 12px;
    color: rgb(190, 171, 158);
  }
}

.fundraise-block {
  width:50%;
  float:left;
  padding:10px 20px;
  box-sizing: border-box;
  display: block;
  img {
    width:100%;
    max-width:intrinsic;
    max-width:max-content;
    border:5px solid #fff;
    transition: all .3s ease-in;
    &:hover {
      border:5px solid $yellow;
      transform: scale(1.02, 1.02);
    }
  }
}

.popover {
  position: fixed;
  width: 100%;
  top:-9999px;
  left:0;
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background:rgba($brown, .8);
  overflow: hidden;
  transition: all .3s ease-in-out;
  opacity: 0;
  .popover-wrapper {
    position: relative;
    width:100%;
    max-width:480px;
    display: block;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: scroll;
  }
  .popover-heading {
    padding:20px 0px;
    text-align: right;
  }
  .popover-text {
    background:$yellow;
    box-sizing: border-box;
    padding: 20px;
  }
  img {
    width:100%;
    max-width: max-content;
    max-width:intrinsic;
  }
  &.show {
    top:0;
    opacity: 1;
  }
}

/*==========================================================================
   Franchise page
==========================================================================*/
.franchise-1 {
  padding-top:80px;
  padding-bottom:80px;
  .row {
    margin-top:50px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-gap: 30px;
    > * {
      height:300px;
    }
  }
  img {
    object-fit:cover;
    height:100%;
    width:100%;
  }
}

.franchise-3 {
  .store-images {
    display: grid;
    grid-template-columns:repeat(3, 1fr); 
    grid-template-rows:auto;
    grid-gap:30px;
    margin-top:-50px;
    padding-bottom:75px;
    img {
      object-fit: cover;
      height:100%;
      width:100%;
    }
  }
}

@media (max-width:1440px) {
  .franchise-2.section.image {
    .content {
      box-sizing: border-box;
      padding-left:45px;
      padding-right:45px;
    }
  }
}

/* ==========================================================================
   Helper classes
   ==========================================================================*/
@import "helper";
