@import "../sass/variables";
@import "../sass/mixins";
@import "partials/sb";
@import "partials/table";

//NAVIGATION
.admin-navbar {
  min-height:80px !important;
  height: inherit;
  background: #281912 url(../img/bg-header.jpg) left top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.profile {
  color: #fff;
  align-items: center;
  height: 80px;
  p {
    padding: 18px 0px;
  }
  img {
    padding: 18px 0px;
    margin: 0 15px;
  }
  a {
    color: #c5cccd;
    font-size: .85em;
  }
}
//EDIT MENU CATEGORY
.category-grid {
  a {
    height:50px;
    @include transition(.3s);
    @include flexbox();
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background:lighten(desaturate($brown, 25%), 50%);
    cursor:pointer;
    &.active, &:hover {
      background:lighten(desaturate($brown, 0%), 25%);
    }
  }
}